@page
@model SampleWebApp.Pages.UserDatas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Birth_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Birth_Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Birth_Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Data[0].Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User_Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth_Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth_Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth_Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
